:root{
    --primary--color: rgb(80, 77, 77);
    --secundary--color: rgb(31, 30, 30);
    --tertialy--color: rgb(12, 12, 12);
}

body{
    background-color: white;
    font-family: sans-serif;
}

.container{
    margin: 60px auto;
    padding: 20px;
    height: 525px;
    width: 300px;
    background-color: var(--secundary--color);
    border-radius: 5px 5px 5px 5px;
}